{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}welcome to uttertech {% endblock %}
{% block content %}
    <!-- End Header Area -->


    <!-- Slider Area -->
    <section class="slider" xmlns="http://www.w3.org/1999/html">
        <div class="hero-slider">
            <!-- Start Single Slider -->
            <div class="single-slider"
                 style="background-image:url('{% static 'Shared Photos/1 Home Page Photo.jpeg' %}'); height: 700px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h3 style="color: white">Technology is changing customer expctations and we are here to
                                    help </h3>
                                <p style="color: black">We provide technological innovations and solutions to display
                                    virtue, lift on ideas, and diagrams to produce innovative and market value
                                    products.</p>

                                <div class="button">
                                    <a href="#" class="btn">Get Appointment</a>
                                    <a href="#" class="btn primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider -->
            <!-- Start Single Slider -->
            <div class="single-slider"
                 style="background-image:url('{% static 'Shared Photos/IMG_1184.jpg' %} ');height: 700px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start End Slider -->

        </div>
    </section>
    <!--/ End Slider Area -->

    <!-- Start Schedule Area -->
    <section class="schedule">

        <div class="container">
            <div class="schedule-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 ">
                        <!-- single-schedule -->
                        <div class="single-schedule first" style="height: 300px;">
                            <div class="inner ">
                                <div class="icon">
                                    <i class="fas fa-car-crash"></i>
                                </div>
                                <div class="single-content">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <h4><span>Uttermost innovations & Designs  📲</span></h4>
                                            <p>
                                                Our innovations and solutions to display the wonderful deeds, virtues,
                                                and perfections of Him Who called us out of darkness into His marvelous
                                                light.</p>                                        <a href="#">LEARN MORE<i
                                                class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- single-schedule -->
                        <div class="single-schedule middle " style="height: 300px;">
                            <div class="inner ">
                                <div class="icon">
                                    <i class="icofont-prescription"></i>
                                </div>
                                <div class="single-content">
                                    <h4>Our Tech Insights </h4> 🕵️‍♂️
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="text-white" style="text-decoration: underline">Edu Solutions</h5>
                                            <p>The scope of Africa in technology </p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="text-white" style="text-decoration: underline">Media
                                                Solutions </h5>
                                            <p>The effects of tech speeds for uttermost purposes </p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <!-- single-schedule -->
                        <div class="single-schedule last " style="height: 300px;">
                            <div class="inner ">
                                <div class="icon">
                                    <i class="fas fa-globe-europe"></i>
                                </div>
                                <div class="single-content">
                                    <h4>Begin a journey with us 😀</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="text-white" style="text-decoration: underline">Interested in
                                                knowing more?</h5>
                                            <p>We are available to start a journey with you. We can help.</p>
                                            <a href="#">Talk to a specialist<i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="text-white">Beyond borders, improving delivery. </h5>
                                            <p>The effects of tech speeds </p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!--/End Start schedule Area -->

    <!-- Start Feautes -->
    <section class="Feautes section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our services and solutions</h2>
                        <img src="{% static 'img/section-img.png' %}" alt="#">
                        <p>We are deddicated to fully serve our customers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-electron"></i>
                        </div>
                        <h3>Electronic solutions</h3>
                        <p>Hands-on electronic and engineering solutions that meet daily needs..</p>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-technorati"></i>
                        </div>
                        <h3></h3>
                        <p>Managing, and optimizing the right infrastructure to support your digital business.</p>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features last">
                        <div class="signle-icon">
                            <i class="icofont icofont-book"></i>
                        </div>
                        <h3>Edu Solutions</h3>
                        <p>Edu systems and applications for Africa 2062.</p>
                        <br>
                        <hr>
                        <a href="AboutUs.html" class="text-lg-center text-primary"> <span
                                class="btn btn-primary text-white font-weight-bold">👍Click Here For More</span></a>
                    </div>
                    <!-- End Single features -->
                </div>

            </div>
        </div>
    </section>


    <section>
                            <div class="article-list">

</div>
    </section>

    <!--/ End Feautes -->
    <section class="pt-5 pb-5  blog">
        <div class="container">
            <div class="row">
                <div class="col-6">
                        <h3 class="mb-3">Our Services</h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-light mb-3 mr-1"
                       href="#carouselExampleIndicators2"
                       role="button"
                       data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-light mb-3"
                       href="#carouselExampleIndicators2"
                       role="button"
                       data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <!-- Carousel wrapper -->
                    <!-- Carousel wrapper -->
                    <div id="carouselExampleIndicators2"
                         class="carousel slide"
                         data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row gx-5">
                                    {% for indexbottomdatas in indexmiddlebottom1s %}
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- News block -->
                                        <div>
                                            <!-- Featured image -->
                                            <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                                                 data-mdb-ripple-color="light">
                                                <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                        
                                            <!-- Article data -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <a href="" class="text-warning">
                                                        <i class="fas fa-code"></i>
                                                       {{ indexbottomdatas.title }}
                                                    </a>
                                                </div>
                        
                                                <div class="col-6 text-end">
                                                    <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                                                </div>
                                            </div>
                        
                                            <!-- Article title and description -->
                                            <a href="" class="text-dark">
                                                <h5> {{ indexbottomdatas.heading |safe}}</h5>
                        
                                                <p>
                                                    {{ indexbottomdatas.content |safe}}
                                                </p>
                                            </a>
                        
                                            <hr/>
                        
                                            <!-- News -->
                                            <a href="" class="text-dark">
                                                <div class="row mb-4 border-bottom pb-2">
                                                    <div class="col-3">  
                                                        <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                                    </div>
                                                    {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                                                    <!-- Display the first 3 thumbnails -->
                                                    {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                                        <img src="{{ thumbnail.url }}" alt="Thumbnail">
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                                    <div class="col-9">
                                            
                                                        <p>
                                                            {% for related_article in indexbottomdatas.related_articles.all %}
                                                            <h5>{{ related_article.title }}</h5>
                                                            <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                                        {% endfor %}
                        
                                                            <u>{{ indexbottomdatas.created_by}}</u>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                        
                                            <!-- News -->
                                            </a>
                                        </div>
                                        <!-- News block -->
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5">

                                    {% for indexbottomdatas in indexmiddlebottom2s %}
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- News block -->
                                        <div>
                                            <!-- Featured image -->
                                            <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                                                 data-mdb-ripple-color="light">
                                                <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                        
                                            <!-- Article data -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <a href="" class="text-warning">
                                                        <i class="fas fa-code"></i>
                                                       {{ indexbottomdatas.title }}
                                                    </a>
                                                </div>
                        
                                                <div class="col-6 text-end">
                                                    <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                                                </div>
                                            </div>
                        
                                            <!-- Article title and description -->
                                            <a href="" class="text-dark">
                                                <h5> {{ indexbottomdatas.heading |safe}}</h5>
                        
                                                <p>
                                                    {{ indexbottomdatas.content |safe}}
                                                </p>
                                            </a>
                        
                                            <hr/>
                        
                                            <!-- News -->
                                            <a href="" class="text-dark">
                                                <div class="row mb-4 border-bottom pb-2">
                                                    <div class="col-3">  
                                                        <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                                    </div>
                                                    {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                                                    <!-- Display the first 3 thumbnails -->
                                                    {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                                        <img src="{{ thumbnail.url }}" alt="Thumbnail">
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                                    <div class="col-9">
                                            
                                                        <p>
                                                            {% for related_article in indexbottomdatas.related_articles.all %}
                                                            <h5>{{ related_article.title }}</h5>
                                                            <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                                        {% endfor %}
                        
                                                            <u>{{ indexbottomdatas.created_by}}</u>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                        
                                            <!-- News -->
                                            </a>
                                        </div>
                                        <!-- News block -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row gx-5">
                                    {% for indexbottomdatas in indexmiddlebottom3s %}
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- News block -->
                                        <div>
                                            <!-- Featured image -->
                                            <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                                                 data-mdb-ripple-color="light">
                                                <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                        
                                            <!-- Article data -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <a href="" class="text-warning">
                                                        <i class="fas fa-code"></i>
                                                       {{ indexbottomdatas.title }}
                                                    </a>
                                                </div>
                        
                                                <div class="col-6 text-end">
                                                    <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                                                </div>
                                            </div>
                        
                                            <!-- Article title and description -->
                                            <a href="" class="text-dark">
                                                <h5> {{ indexbottomdatas.heading |safe}}</h5>
                        
                                                <p>
                                                    {{ indexbottomdatas.content |safe}}
                                                </p>
                                            </a>
                        
                                            <hr/>
                        
                                            <!-- News -->
                                            <a href="" class="text-dark">
                                                <div class="row mb-4 border-bottom pb-2">
                                                    <div class="col-3">  
                                                        <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                                    </div>
                                                    {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                                                    <!-- Display the first 3 thumbnails -->
                                                    {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                                        <img src="{{ thumbnail.url }}" alt="Thumbnail">
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                                    <div class="col-9">
                                            
                                                        <p>
                                                            {% for related_article in indexbottomdatas.related_articles.all %}
                                                            <h5>{{ related_article.title }}</h5>
                                                            <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                                        {% endfor %}
                        
                                                            <u>{{ indexbottomdatas.created_by}}</u>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                        
                                            <!-- News -->
                                            </a>
                                        </div>
                                        <!-- News block -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                                       <div class="carousel-item">
                                <div class="row gx-5">
                                    {% for indexbottomdatas in indexbottomcontent %}
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- News block -->
                                        <div>
                                            <!-- Featured image -->
                                            <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                                                 data-mdb-ripple-color="light">
                                                <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                        
                                            <!-- Article data -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <a href="" class="text-warning">
                                                        <i class="fas fa-code"></i>
                                                       {{ indexbottomdatas.title }}
                                                    </a>
                                                </div>
                        
                                                <div class="col-6 text-end">
                                                    <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                                                </div>
                                            </div>
                        
                                            <!-- Article title and description -->
                                            <a href="" class="text-dark">
                                                <h5> {{ indexbottomdatas.heading |safe}}</h5>
                        
                                                <p>
                                                    {{ indexbottomdatas.content |safe}}
                                                </p>
                                            </a>
                        
                                            <hr/>
                        
                                            <!-- News -->
                                            <a href="" class="text-dark">
                                                <div class="row mb-4 border-bottom pb-2">
                                                    <div class="col-3">  
                                                        <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                                    </div>
                                                    {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                                                    <!-- Display the first 3 thumbnails -->
                                                    {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                                        <img src="{{ thumbnail.url }}" alt="Thumbnail">
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                                    <div class="col-9">
                                            
                                                        <p>
                                                            {% for related_article in indexbottomdatas.related_articles.all %}
                                                            <h5>{{ related_article.title }}</h5>
                                                            <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                                        {% endfor %}
                        
                                                            <u>{{ indexbottomdatas.created_by}}</u>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                        
                                            <!-- News -->
                                            </a>
                                        </div>
                                        <!-- News block -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                                       <div class="carousel-item">
                                <div class="row">
                                    {% for indexbottomdatas in indexmiddlebottom4s %}
                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- News block -->
                                        <div>
                                            <!-- Featured image -->
                                            <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                                                 data-mdb-ripple-color="light">
                                                <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                        
                                            <!-- Article data -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <a href="" class="text-warning">
                                                        <i class="fas fa-code"></i>
                                                       {{ indexbottomdatas.title }}
                                                    </a>
                                                </div>
                        
                                                <div class="col-6 text-end">
                                                    <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                                                </div>
                                            </div>
                        
                                            <!-- Article title and description -->
                                            <a href="" class="text-dark">
                                                <h5> {{ indexbottomdatas.heading |safe}}</h5>
                        
                                                <p>
                                                    {{ indexbottomdatas.content |safe}}
                                                </p>
                                            </a>
                        
                                            <hr/>
                        
                                            <!-- News -->
                                            <a href="" class="text-dark">
                                                <div class="row mb-4 border-bottom pb-2">
                                                    <div class="col-3">  
                                                        <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                                             class="img-fluid shadow-1-strong rounded" alt=""/>
                                                    </div>
                                                    {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                                                    <!-- Display the first 3 thumbnails -->
                                                    {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                                        <img src="{{ thumbnail.url }}" alt="Thumbnail">
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                                    <div class="col-9">
                                            
                                                        <p>
                                                            {% for related_article in indexbottomdatas.related_articles.all %}
                                                            <h5>{{ related_article.title }}</h5>
                                                            <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                                        {% endfor %}
                        
                                                            <u>{{ indexbottomdatas.created_by}}</u>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                        
                                            <!-- News -->
                                            </a>
                                        </div>
                                        <!-- News block -->
                                    </div>
                                    {% endfor %}
                                        <!-- News block -->

                                        <!-- News block -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Fun-facts -->


    <!-- Start Why choose -->
    <section class="why-choose section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <img src="{% static 'img/section-img.png' %}" alt="#">
                        <p>We are a digital transformation consultancy and engineering company that delivers cutting
                            edge solutions for Africa’s companies, organizations, and technology startups. Since 2020 we
                            have been helping companies reimagine their business through digitalization.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <!-- Start Choose Left -->
                    <div class="choose-left">
                        <h3>Mission & Vision</h3>
                        <p>Our mission is to display efficacy and good works.
                            We are focused on providing technology solutions, built to accelerate Africans as early
                            career professionals, innovators, entrepreneurs, and business leaders.
                        </p>
                        <div class="row">
                            <div class="col-lg-7">
                                <h3>Our Core EnterPrise Technology Scope</h3>
                                <ul class="list">
                                    <li><i class="fa fa-caret-right"></i>UX</li>
                                    <li><i class="fa fa-caret-right"></i>AI</li>
                                    <li><i class="fa fa-caret-right"></i>BlockHian</li>
                                </ul>
                            </div>
                            <div class="col-lg-5">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <a href="AboutUs.html"> <span class="btn btn-primary text-white font-weight-bold">👍Click Here For More</span></a>
                            </div>

                        </div>
                    </div>
                    <!-- End Choose Left -->
                </div>
                <div class="col-lg-6 col-12 col-md-6 bg-dark">
                    <!-- Start Choose Rights -->

                        <div class="video-image">
                            {% for indexmiddlevideos in indexmiddlevideos %}
                            {% if indexmiddlevideos.videoupload %}
                                {% if indexmiddlevideos.videoupload.url|is_video %}
                                    <video width="100%" height="500" controls>
                                        <source src="{{ indexmiddlevideos.videoupload.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% elif indexmiddlevideos.videoupload.url|is_audio %}
                                    <audio controls>
                                        <source src="{{ indexmiddlevideos.videoupload.url }}" type="audio/mp3">
                                        Your browser does not support the audio tag.
                                    </audio>
                                {% else %}
                                    <!-- Handle other file types or show a message -->
                                    <p>Unsupported media type</p>
                                {% endif %}
                            {% else %}
                                <a href="{{ indexmiddlevideos.video_link }}" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <!-- End Choose Rights -->
                </div>


                <!-- End Choose Rights -->
            </div>
        </div>
        </div>
    </section>
    <!--/ End Why choose -->

    <!-- Start Call to action -->
    <section class="call-action overlay" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="content">
                        <h2>Need to Reach Out.. Call us here <span class="fa fa-phone"></span></h2>
                        <p> 
                            <h5 class="text-white">Tel: (+256) 700215512, Tel: (+256) 788669370, </h5>
                        </p>
                            <p> </h5 class="text-white"> Email: info@utterlite.com </h5>
                        </p>
                        <div class="button">
                            <a href="#" class="btn">Contact Now<i class="fa fa-long-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Call to action -->

    <!-- Start portfolio -->

    <!--/ End portfolio -->

    <!-- Start service -->




    <!-- Start Blog Area -->
    <section class="blog section" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Keep up with Our Most Recent Medical News.</h2>
                        <img src="{% static 'img/section-img.png' %}" alt="#">
                    </div>
                </div>
            </div>
            <div class="row">
                {% for datas in data %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Blog -->
                        <div class="single-news">
                            <div class="news-head">
                                {% for data_overviews in data_overview %}
                                    <img src="{{ data_overviews.itemimage.url }}" alt="#">
                                {% endfor %}

                            </div>
                            <div class="news-body">
                                <div class="news-content">
                                    <div class="date">{{ datas.created_on }}</div>
                                    <p><small>{{ datas.created_by }}</small></p>
                                    <h2><a href="blog-single.html">{{ datas.itemname }}</a></h2>
                                    <p class="text">{{ datas.itemcontent|safe }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="row gx-5">
            {% for indexbottomdatas in indexbottomcontent %}
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- News block -->
                <div>
                    <!-- Featured image -->
                    <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init
                         data-mdb-ripple-color="light">
                        <img src="{{ indexbottomdatas.imagebottom.url }}" class="img-fluid"/>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>

                    <!-- Article data -->
                    <div class="row mb-3">
                        <div class="col-6">
                            <a href="" class="text-warning">
                                <i class="fas fa-code"></i>
                               {{ indexbottomdatas.title }}
                            </a>
                        </div>

                        <div class="col-6 text-end">
                            <u>  {{ indexbottomdatas.created_at |naturaltime}}</u>
                        </div>
                    </div>

                    <!-- Article title and description -->
                    <a href="" class="text-dark">
                        <h5> {{ indexbottomdatas.heading |safe}}</h5>

                        <p>
                            {{ indexbottomdatas.content |safe}}
                        </p>
                    </a>

                    <hr/>

                    <!-- News -->
                    <a href="" class="text-dark">
                        <div class="row mb-4 border-bottom pb-2">
                            <div class="col-3">  
                                <img src="{{indexbottomdatas.thumbnailbottom.url }}"
                                     class="img-fluid shadow-1-strong rounded" alt=""/>
                            </div>
                            {% comment %} {% for indexbottomdatas in indexbottomcontent %}
                            <!-- Display the first 3 thumbnails -->
                            {% for thumbnail in indexbottomdatas.thumbnailbottom.url|slice:"3" %}
                                <img src="{{ thumbnail.url }}" alt="Thumbnail">
                            {% endfor %}
                        {% endfor %} {% endcomment %}
                            <div class="col-9">
                    
                                <p>
                                    {% for related_article in indexbottomdatas.related_articles.all %}
                                    <h5>{{ related_article.title }}</h5>
                                    <p class="mb-2"><strong>{{ related_article.content|safe }}</strong></p>
                                {% endfor %}

                                    <u>{{ indexbottomdatas.created_by}}</u>
                                </p>
                            </div>
                        </div>
                    </a>

                    <!-- News -->
                    </a>
                </div>
                <!-- News block -->
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- /End Newsletter Area -->


{% endblock %}

