{% extends "users/dashboard/home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    .gradient-custom {
/* fallback for old browsers */
background: #343434;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgb(41, 41, 41), rgb(126, 123, 123));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgb(21, 20, 18), rgb(195, 195, 195))
}
</style>

  <div class="container m-5 py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">

            <img src="{{ profileimage}}" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px; height: 150px; /">
            <h5 class="my-3"> {% if full_name %}
                          <h5>{{full_name}}</h5>
                          {% else %}
                          <h5>{{full_name}}</h5>
                          {% endif %}</h5>
          {% for Professions in Profession %}
            <p class="text-muted mb-1">{{ Professions.Profession }}</p>
          {% endfor %}
            <p class="text-muted mb-4">{{ address }}</p>
           <h6>Date joined</h6>
             <p class="text-muted mb-1">{{request.user.date_joined |naturaltime }}</p>
           <h6>Last Login</h6>
            <p class="text-muted mb-4">{{request.user.last_login|naturaltime}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger"><a href="{% url 'person_changelist'  %}">Apply Now</a></button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{full_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{email}}</p>
              </div>
            </div>
              <hr>
                <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date Of birth</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.birthdate|date:"F j, Y" }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ phonenum }}</p>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ address }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><h1 class="text-primary font-bold underline">Job Status</h1>
                </p>
                <a class="mb-1" href="{% url 'person_changelist' %}" style="font-size: .77rem;">
                <p class="h5">Number of Jobs Applied for : <span  class="badge badge-danger">{{ jobsapplied }}</span></p>
                 </a>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
                      <div class="col-md-5">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><h1 class="text-primary font-bold underline">Jobs Available</h1>
                </p>
                <a class="mb-1" href="{% url 'job_list' %}" style="font-size: .77rem;">
                <p class="h5">Number of Jobs Available : <span  class="badge badge-danger">{{ jobsavailable }}</span></p>
                 </a>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>






{% endblock content %}