<!-- templates/registration/password_reset_email.html -->
{% block content %}
  <p>Hi {{ user.username }},</p>
  <p>You're receiving this email because you requested a password reset for your user account at Uttermost Technologies.</p>
  <p>Please go to the following page and choose a new password:</p>
  <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset my password</a></p>
  <p>Your username, in case you’ve forgotten: {{ user.username }}</p>
  <p>Thanks for using our site!</p>
{% endblock %}
